extends ../layout

block content
		.row
			.col-sm-12
				h2.header Zen Agenda
				div.ta-event-nest.rows.light
					ol#events
					- for event in agenda
						if (event.start.dateTime)
							li.ta-event
								p.ta-event-title= event.summary
								p.ta-event-summary-time= moment(event.start.dateTime).format("MMM DD hh:mm a")
									span.ta-event-summary-location= event.location
						else
							li.ta-event
								p.ta-event-title= event.summary
								p.ta-event-summary-time= moment(event.start.date).format("MMM DD")
									span.ta-event-summary-location= event.location

