extends layout

block content
  if !user 
    h1 Welcome to the Yoga Teacher Assistant
    p.lead Your source for productivity and sacred sanity.
    hr
    .row
      .col-sm-6
        h2 Notes
        p Capture your thoughts from teaching sessions. Jot down your favorite moments from workshops or classes.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h2 To Dos
        p Keep track of your tasks and manage your todos. Never let something slip through the cracks again.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h2 Inspiration
        p Enjoy a beautiful image or inspiring quote. Share your favorite pics with other members of the yoga teacher community.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h2 Zen Agenda
        p Keep track of your activities in a handy heads-up view.
        p
          a.btn.btn-default(href='#', role='button') View details »
  if user
    .row
      .col-sm-6
        h2.header 
          a(href="/notes") Notes
          form(method='POST', action='/notes', id='notesfrm')
            input(type='hidden', name='_csrf', value=_csrf)
            input.form-control(type='text', name='noteTitle', id='noteTitle', placeholder='Title')
            textarea.form-control(type='textarea', name='note', id='notes', placeholder='Enter a note', rows='5', form='notesfrm')  
            br
            input.btn.btn-default(type='submit', value='Add Note »')
            br
            br
        if notes
          each note, index in notes
            h4
              a(href= "notes/"+index)= note.title
            p(style='white-space:pre;')= note.note
            span
              em(style="color:#666;")= moment(note.date).format("MMM DD, YY") + ' at ' + moment(note.date).format("hh:mm a")
              span(style="float: right; padding-right: 70px; color: #aaa;") Edit
            hr
          a(href="/notes") View all notes
      .col-sm-6
        h2.header To Dos
        form(method='POST', action='/todo')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            input.form-control(type='text', name='todo', id='todo', placeholder='Type a todo and hit enter', autofocus)
        if todos 
          each item, index in todos
            p
              input(type="checkbox", name="completed", id=index, onclick="completeTodo("+index+")") 
              span(class="check")= item
        if completedTodos
          each item in completedTodos
            p= item  
        if !todos
          p Add a todo!
        
            
      .col-sm-6
        h2.header Inspiration
        p Enjoy a beautiful image or inspiring quote. Share your favorite pics with other members of the yoga teacher community.
        p
          a.btn.btn-default(href='#', role='button') Add a Picture or Quote »
      .col-sm-6
        h2.header Zen Agenda
        p Keep track of your activities in a handy heads-up view.
        p
          a.btn.btn-default(href='#', role='button') Add Calendar Item »