extends layout

block content
  if !user 
    h1 Welcome to the Yoga Teacher Assistant
    p.lead Your source for productivity and sacred sanity.
    hr
    .row
      .col-sm-6
        h2 Notes
        p Capture your thoughts from teaching sessions. Jot down your favorite moments from workshops or classes.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h2 To Dos
        p Keep track of your tasks and manage your todos. Never let something slip through the cracks again.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h2 Inspiration
        p Enjoy a beautiful image or inspiring quote. Share your favorite pics with other members of the yoga teacher community.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h2 Zen Agenda
        p Keep track of your activities in a handy heads-up view.
        p
          a.btn.btn-default(href='#', role='button') View details »
  if user
    .row
      .col-sm-6
        h2 Notes
        form(method='POST', action='/notes')
          input(type='hidden', name='_csrf', value=_csrf)
          input.form-control(type='textarea', name='note', id='notes', placeholder='Enter a note')
          a.btn.btn-default(href='#', role='button', type='submit') Add Note »
        if notes
          each note in notes
            p= note
      .col-sm-6
        h2 To Dos
        form(method='POST', action='/todo')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            input.form-control(type='text', name='todo', id='todo', placeholder='Type a todo and hit enter', autofocus)
        if todos 
          each item, index in todos
            p
              input(type="checkbox", name="completed", id=index, onclick="completeTodo("+index+")") 
              span(class="check")= item
        if completedTodos
          each item in completedTodos
            p= item  
        if !todos
          p Add a todo!
        
            
      .col-sm-6
        h2 Inspiration
        p Enjoy a beautiful image or inspiring quote. Share your favorite pics with other members of the yoga teacher community.
        p
          a.btn.btn-default(href='#', role='button') Add a Picture or Quote »
      .col-sm-6
        h2 Zen Agenda
        p Keep track of your activities in a handy heads-up view.
        p
          a.btn.btn-default(href='#', role='button') Add Calendar Item »